.settings-button {
  width: 12px;
  height: 18px;
  border: none;
  outline: none;
  background: url('/public/img/kebab.svg') -9px center no-repeat;
  position: relative;
  padding: 0;
  cursor: pointer;

  &::after {
    content: '';
    width: 12px;
    height: 18px;
    background: url('/public/img/kebab.svg') center center no-repeat;
    display: block;
    position: relative;
    left: 4px;
  }
}

a.btn {
  display: inline-block;
}

.btn {
  padding: 0;
  background: none;
  border: none;
  outline: none;
  border-radius: 40px;
  padding: 14px 20px;
  cursor: pointer;
  text-decoration: none;

  .btn__icon {
    display: inline-block;
    width: 16px;
    height: 16px;
    margin-right: 10px;
    vertical-align: middle;
  }

  .btn__text {
    vertical-align: middle;
  }

  &.btn--secondary {
    border: 1px solid #009FDA;
    font-size: 10px;
    line-height: 13px;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    color: #009FDA;
    font-weight: 700;

    &:hover,
    &:active {
      color: #12B2ED;
      border-color: #12B2ED;
      cursor: pointer;

      svg {
        fill: #12B2ED;
      }
    }

    svg  {
      fill: #009FDA;
    }
  }

  &.btn--link {
    font-size: 14px;
    line-height: 18px;
    color: #009FDA;
  }
  
  &.btn--primary {
    background: #FA4616;
    border-radius: 6px;
    font-weight: bold;
    font-size: 16px;
    line-height: 21px;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    padding: 14px 20px;
    color: #fff;

    &.btn--outline {
      border: 1px solid #FA4616;
      background: transparent;
      color: #FA4616;

      &:hover {
        border-color: #FA4616;
        color: #F03200;
        background: transparent;
      }
    }

    &:hover {
      background: #F03200;
    }
  }
}