.horizontal-scroll {
  overflow: hidden;
  position: relative;

  &.left-shadow {
    &::before  {
      content: '';
      background: linear-gradient(270deg, #FAFAFA 0, rgba(250, 250, 250, 0) 80.03%);
      position: absolute;
      left: 0;
      top: 0;
      bottom: 0;
      width: 20px;
      z-index: 1;
      transform: rotate(180deg);
    }
  }
  
  .horizontal-scroll__container {
    width: 100%;
    white-space: nowrap;
    font-size: 0;
  }
}