$baseColor: rgba(0, 0, 0, 0.29);
$activeColor: #694ED6;

.nav {
  background: $panelBg;
  box-shadow: 0px 24px 38px rgba(0, 0, 0, 0.11),
    0px 9px 46px rgba(0, 0, 0, 0.09),
    0px 11px 15px rgba(0, 0, 0, 0.16);
  border-radius: 0px 16px 16px 0px;
  box-sizing: border-box;
  padding: 16px;
  width: $openNavWidth;
  position: fixed;
  height: 100vh;
  left: 0;
  top: 0;
  bottom: 0;

  .nav__link {
    display: block;
    position: relative;
    margin-bottom: 35px;
    font-size: 0;

    &:last-child {
      margin-bottom: 0;
    }

    .nav__link-icon {
      display: inline-block;
      vertical-align: middle;
      width: 24px;
      height: 24px;
      overflow: hidden;
      margin-right: 16px;

      svg {
        display: block;
        fill: $baseColor;
      }
    }

    .nav__link-text {
      display: inline-block;
      vertical-align: middle;
      font-weight: bold;
      font-size: 13px;
      line-height: 19px;
      color: $baseColor;
    }

    .nav__link-badge {
      position: absolute;
      right: 0;
      top: 50%;
      width: 25px;
      margin-top: -13px;
      height: 25px;
      overflow: hidden;
      text-align: center;
      background: #C137A2;
      border-radius: 8px;
      box-sizing: border-box;
      padding: 4px;
      overflow: hidden;
      text-overflow: ellipsis;
      
      span {
        line-height: 18px;
        color: #fff;
        font-weight: 300;
        font-size: 14px;
        white-space: nowrap;
      }
    }

    &.nav__link--active {
      .nav__link-icon {
        svg {
          fill: $activeColor;
        }
      }
      .nav__link-text {
        color: $activeColor;
      }
    }

    &.nav__link--home {
      margin-bottom: 55px;

      img {
        width: 132px;
      }
    }
  }
}
