.progress-panel {
  display: inline-block;
  padding: 8px 24px;
  position: relative;
  height: 56px;
  border-radius: 4px;
  box-sizing: border-box;
  margin-right: 10px;


  &:last-child {
    margin-right: 0;
  }

  &:hover {
    text-decoration: none;
  }

  .progress-panel__title {
    font-weight: 500;
    font-size: 14px;
    letter-spacing: 0.1px;
    display: block;
    line-height: 21px;
  }

  .progress-panel__text {
    font-size: 12px;
    display: block;
    letter-spacing: 0.4px;
  }

  &.progress-panel--used {
    background: #000;
    background: #344F99;
    color: #fff;
  }
}