.question {
  padding: 67px 30px 40px 30px;
  
  .question__title {
    font-weight: bold;
    font-size: 38px;
    line-height: 55px;
    margin: 0 0 24px 0;
  }

  .question__description {
    font-weight: normal;
    font-size: 20px;
    line-height: 29px;
    margin: 0 0 32px 0;
  }

  .question__block-title {
    font-weight: normal;
    font-size: 20px;
    line-height: 29px;
    margin: 0 0 16px 0;
  }
}