.team-users {
  .user-card {
    margin-bottom: 16px;

    &:last-child {
      margin-bottom: 0;
    }
  }

  .team-users__footer {
    text-align: right;
  }
}

.events {
  margin-top: 24px;

  .event-card {
    margin-bottom: 16px;
  }
}