@font-face {
  font-family: 'PTSerif';
  src: url('/public/fonts/PTSerif-Regular.ttf');
  font-weight: 400;
}

@font-face {
  font-family: 'PTSerif';
  src: url('/public/fonts/PTSerif-Bold.ttf');
  font-weight: 700;
}

@font-face {
  font-family: 'PTSans';
  src: url('/public/fonts/PTSans-Bold.ttf');
  font-weight: 700;
}

@font-face {
  font-family: 'PTSans';
  src: url('/public/fonts/PTSans-Regular.ttf');
  font-weight: 400;
}