@import "uikit/src/scss/variables-theme.scss";
@import "uikit/src/scss/mixins-theme.scss";
@import "uikit/src/scss/components/modal.scss";
// @import "uikit/src/scss/uikit-theme.scss";

@import "./fonts.scss";
@import "./variables.scss";

@import "./grid.scss";

body {
  font-family: 'PTSans', Arial, Helvetica, sans-serif;
  color: $colorBlack;
  background-color: #F5F6F7;
  background: linear-gradient(0deg, #F2F2F2, #F2F2F2), #F5F6F7;
  margin: 0;

  &.stop-scrolling {
    overflow-y: hidden;
  }
}

.overflow-container {
  overflow: hidden;
  width: 100%;
  height: 100%;
  max-width: 100%;
}

main {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.uk-modal {
  background: rgba(0, 0, 0, 0.29);

  .uk-modal-dialog {
    background: #FAFAFA;
    border-radius: 16px;
    box-sizing: border-box;
    width: 608px;
    padding: 40px;
  }

  .uk-close {
    top: 0px;
    right: -56px;
    padding: 13px;
    background: #fff;
    border-radius: 8px;

    svg line {
      stroke: #000 !important;
    }
  }
}

.container {
  width: 100%;
  max-width: 1170px;
  padding: 0 15px;
  margin: 0 auto;
}

.mb-20 {
  margin-bottom: 20px;
}
.mb-24 {
  margin-bottom: 24px;
}

.color-red {
  color: #FF1A1A;
}

h2, .h2 {
  font-weight: bold;
  font-size: 38px;
  margin: 0;
  font-family: 'PTSerif';
  line-height: 1;
}

img {
  width: auto;
  max-width: 100%;
}

.modals {
  display: none;
}

.uk-modal.uk-open {
  background: rgba(0, 0, 0, 0.29);
}

.modal {
  .modal__content {
    margin-top: auto;
    margin-bottom: auto;
    background: #FFFFFF;
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.1);
    border-radius: 4px;
    padding: 40px;
    box-sizing: border-box;
    max-width: 1200px;
  }
}

@import "./pages/analytics.scss";
@import "./pages/signup.scss";

@import "./modules/header.scss";
@import "./modules/breadcrumbs.scss";
@import "./modules/panel.scss";
@import "./modules/menu.scss";
@import "./modules/userCard.scss";
@import "./modules/checkbox.scss";
@import "./modules/table.scss";
@import "./modules/tabs.scss";
@import './modules/badge.scss';
@import "./modules/buttons.scss";
@import "./modules/input.scss";
@import "./modules/form.scss";
@import "./modules/footer.scss";